@model List<StackOverflow.ViewModels.QuestionViewModel>

@{
    ViewBag.Title = "Home Page";
}



    <div class="mt-3 p-5 mb-4 bg-secondary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Learn, Share and Build Something!</h1>
            <p class="col-md-8 fs-4">StackOverflow is a place to find the ultimate programming solutions</p>
            <button class="btn btn-primary btn-lg" type="button">Learn more</button>
        </div>
    </div>

<div class="row">
    <div class="col-sm-12">
        <table class="table  table-responsive">
            @foreach(var item in Model)
            {
                Html.RenderPartial("Question", item);
            }
        </table>
        @if(Session["CurrentUserName"] != null)
        {
            <a href="/questions/create" class="btn btn-primary">Add Question!</a>
        }
    </div>
</div>
<script>
    $("a[id=about]").addClass('active');
</script>